# Getting Used to Jupyter

In [26]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
print("Hello World")

Hello World

The output is just printing the string 'Hello World'. Print simply outputs the input string.

# Variables/Data Types

In [3]:
a = 1
type(a)

int

In [4]:
b = 0.1
type(b)

float

In [5]:
c = "c"
type(c)

str

In [6]:
float(a) # it is possible to convert int to float

1.0

In [12]:
a = str(a)
type(a)

str

In [10]:
b= int(b)
type(b)

int

In [11]:
b = chr(b)
type(b)

str

In [15]:
d = [1,2,3,4,4]
type(d)

list

In [16]:
e = ("first", "second", "third")
type(e)

tuple

In [17]:
f = {"key1":"val1", "key2": "val2", "key3":"val3"}
type(f)

dict

In [23]:
list(f)

['key1', 'key2', 'key3']

# Object Oriented Programming

In [27]:
class School:
    def __init__(self, Name, State):
        self.Name = Name
        self.State = "University of Rochester"
class Student(School): 
    def __init__(self, Name, ID, School):
        self.ID = ID

In [53]:
student1 = School("Nani", "UR")
student2 = School("Terry", "UR")
type(student1)
type(student2)

__main__.School

__main__.School

In [40]:
class Undergrad(Student):
    def __init__(self, Major, YearofGrad):
        self.Major = Major
        self.YearofGrad = YearofGrad

In [ ]:
terry = Undergrad("CompBio", 2022)
nani = Undergrad("MolGenetics", 2022)
type(terry)
isinstance(terry, Student)
type(nani)
isinstance(nani, Student)

# Functions, Conditionals, Loops

In [ ]:
def listlength(somelist):
    print(len(somelist))

In [79]:
class School:
    State = "University of Rochester"
    def __init__(self, Name):
        self.Name = Name
    def printname(self):
        print(self.Name)
    def printstate(self):
        print(self.State)

In [85]:
ur = School('University of Rochester')
ur.State = 'NY'
print(id(ur.printname()), id(ur.printstate()))

University of Rochester
NY
4527246072 4527246072

In [91]:
def sumfun(a,b,c):
    ans = a+b+c
    return(ans)

In [92]:
sumfun(1,2,3)

6

In [93]:
def multiply(a,b,c):
    ans = a*b*c
    return(ans)

In [94]:
multiply(1,2,3)

6

In [95]:
def sum_and_multiply(a,b,c):
    return(sumfun(a,b,c), multiply(a,b,c))

In [96]:
sum_and_multiply(4,5,6)

(15, 120)

In [110]:
def sum_or_multiply(a,b,c,boolean): 
    if boolean ==True:
        return(sumfun(a,b,c))
    else:
        return(multiply(a,b,c,))

In [111]:
sum_or_multiply(4,5,6,False)
sum_or_multiply(4,5,6,True)

120

15

In [143]:
def sumlist(somelist):
    ct=0
    for i in range(0, len(somelist)):
        start = somelist[i]
        ct = start + ct
    return(ct)

In [144]:
somelist= [1, 456, 567, 22, 98, 103]
sumlist(somelist)

1247

In [158]:
def dictionary_value(somedict):
    i=0
    while i < len(somedict):
        i+=1
        return(somedict)

In [159]:
somedict= {'key1':"val1", 'key2':'val2', 'key3':'val3'}

In [160]:
dictionary_value(somedict)

{'key1': 'val1', 'key2': 'val2', 'key3': 'val3'}

In [34]:
def five_three(someint):
    numlist = list(range(0,someint))
    end_list = list()
    for i in numlist:
        div_five = i/5 - int(i/5)
        div_three = i/3 - int(i/3)
        div_fifteen = i/15 - int(i/15)
        if (div_five==0 or div_three==0 and div_fifteen !=0):
            end_list.append(i)
        else: 
            next
    return(end_list)

In [37]:
five_three(45)

[0, 3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42]

# Recursive

In [41]:
def sumlist(somelist):
    # base case should be +0
    # end condition: no more values in list 
    i = 0
    if len(somelist)==0:
        return 0
    else:
        if somelist[i] < 0: 
            raise AssertionError("This list contains a negative number.")
        return somelist[i] + sumlist(somelist[(i+1):])

In [49]:
sumlist(list(range(0,100)))
sumlist(list(range(-5, 10)))

4950

AssertionError: This list contains a negative number.

In [63]:
def harmonic_sum(someint):
    # base case should still be plus 0
    # end condition should be when 20 elements 
    if (someint <= 20 and someint>0):
        return 1/(someint) + harmonic_sum(someint-1)
    if (someint == 0):
        return 0
    elif(someint>20):
        return (harmonic_sum(20), "Your input was greater than 20")

In [64]:
harmonic_sum(20)
harmonic_sum(45)

3.597739657143682

(3.597739657143682, 'Your input was greater than 20')

In [162]:
def Fibonacci(someint):
    # end condition is when 20 elements have been added 
    # base condition is plus the last number
    # test_list = sorted(list(range(0, someint+1)), reverse=True)
    if someint==0 or someint==1:
        return someint
    return Fibonacci(someint-1)+Fibonacci(someint-2)

In [164]:
for i in range(20):
    print(Fibonacci(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [165]:
# we want to use turtle code
import turtle

# create the turtle
bob = turtle.Turtle()
bob.shape("turtle")

# infinite loop
while True:
  # ask for distance, move distance
  distance = input("How far will bob walk?")    
  bob.forward(int(distance))

  # ask for angle, turn angle
  angle = input("How many degrees should bob turn?")
  bob.left(int(angle))

How far will bob walk?35
How many degrees should bob turn?76
How far will bob walk?20
How many degrees should bob turn?100
How far will bob walk?800
How many degrees should bob turn?179
How far will bob walk?650
How many degrees should bob turn?35
How far will bob walk?esc

ValueError: invalid literal for int() with base 10: 'esc'

In [5]:
import turtle
def branch(length,t):
    if length > 30:
        t.color("red")
        t.forward(length/3)
        t.right(25)
        branch(length/2,t)
        t.right(25)
        branch(length/2,t)
        t.left(100)
        branch(length/2,t)
        2
        t.right(25)
        branch(length/2,t)
        t.right(25)
        branch(length/2,t)
        t.color("blue")
        t.backward(length/3)
def main():
    t = turtle.Turtle()
    
    branch(300,t)
    turtle.done()

In [4]:
main()

When this code is run, the program creates a little flower - a sideways dandelion.

# Libraries

In [1]:
import pandas as pd

In [32]:
df = pd.read_csv("/Users/nandini_samanta/Documents/Everything/School/Senior Year/Spring Semester/BIOL 160/iris.data", names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'type'])
df.head(n=5)

   sepal_length  sepal_width  petal_length  petal_width         type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [33]:
df.shape
df.size

(150, 5)

750

There are 5 attributes, and 750 observations.

In [34]:
import numpy as np

In [103]:
petal_length = np.array(df["petal_length"])

In [89]:
np.isnan(petal_length) # no missing values

     sepal_length  sepal_width  petal_length  petal_width   type
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
..            ...          ...           ...          ...    ...
145         False        False         False        False  False
146         False        False         False        False  False
147         False        False         False        False  False
148         False        False         False        False  False
149         False        False         False        False  False

[150 rows x 5 columns]

In [104]:
df["Numeric_Species_Classification"] = petal_length

In [105]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,type,Numeric_Species_Classification
0,5.1,3.5,1.4,0.2,Iris-setosa,1.4
1,4.9,3.0,1.4,0.2,Iris-setosa,1.4
2,4.7,3.2,1.3,0.2,Iris-setosa,1.3
3,4.6,3.1,1.5,0.2,Iris-setosa,1.5
4,5.0,3.6,1.4,0.2,Iris-setosa,1.4

In [111]:
len_class = []
for i in range(0, len(petal_length)):
    if petal_length[i] <3: 
        len_class.append("Short")
    else:
        len_class.append("Long")
        
df["Petal_Length_Classification"] = len_class
df.sample(10)

,sepal_length,sepal_width,petal_length,petal_width,type,Numeric_Species_Classification,Petal_Length_Classification
130,7.4,2.8,6.1,1.9,Iris-virginica,6.1,Long
32,5.2,4.1,1.5,0.1,Iris-setosa,1.5,Short
104,6.5,3.0,5.8,2.2,Iris-virginica,5.8,Long
52,6.9,3.1,4.9,1.5,Iris-versicolor,4.9,Long
114,5.8,2.8,5.1,2.4,Iris-virginica,5.1,Long
100,6.3,3.3,6.0,2.5,Iris-virginica,6.0,Long
74,6.4,2.9,4.3,1.3,Iris-versicolor,4.3,Long
112,6.8,3.0,5.5,2.1,Iris-virginica,5.5,Long
8,4.4,2.9,1.4,0.2,Iris-setosa,1.4,Short
59,5.2,2.7,3.9,1.4,Iris-versicolor,3.9,Long

Prefer R!